<!doctype html>
<html>
<head>	
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta charset="utf-8">
<title>INDEX</title>
<link href="glosserystore.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	
	<style>
ol.breadcrumb {
  padding: 10px 16px;
  list-style: none;
  background-color: #ffffff;
}
ol.breadcrumb li {
  display: inline;
  font-size: 10px;
}
ol.breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: ">\00a0";
}
ol.breadcrumb li a {
  color: #000000;
  text-decoration: none;
}
ol.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}
</style>
	
	
</head>
<body>
		
<header>
	

<section3>
<a href="INDEX.html"><img src="../MEDIOS/IMÁGENES/símbolo glossery.jpg" alt="" width="50" class="simbolo">
</a></section3>
	
<section1>
<a href="INDEX.html"><img src="../MEDIOS/IMÁGENES/LOGOTIPO glossery.jpg" alt="" width="300" class="logotipo">
</a></section1>
<section2>
<a href="CARRITO.html">
<img src="../MEDIOS/IMÁGENES/carrito de compras.jpg" alt="" width="40" class="carrito"/> </a>
<a href="FAVORITOS.html"><img src="../MEDIOS/IMÁGENES/favoritos.jpg" alt="" width="40" class="fsvoritos"/></a> 
<a href="INICIODESESIÓN.html"><img
src="../MEDIOS/IMÁGENES/inicio sesion.jpg" alt="" width="40" class="iniciosesion"/></a> 
</section2>
	</header>

	

<nav class="NAV">
<ul> 
 <li><a href="PRODUCTOS.html">PRODUCTOS</a></li>
 <li><a href="NOSOTROS.html">NOSOTROS</a></li>
 <li><a href="CONTACTO.html">CONTACTO</a></li>
 <li><a href="Q&A.html">Q & A</a></li> </ul>
	
<section4>
<form action="../../form-result.php" method="post" target="_blank">
<p> <input name="listaglosses" type="search" class="encuentratugloss" placeholder= "Encuentra tu gloss" list="listaglosses"
size="20" maxlength="10"> 	<input type="submit" class="buscarboton" value="Buscar"> <img src="../MEDIOS/IMÁGENES/lupa.png" width="20"  alt=""/> 
</p> </form>	
<datalist id="listaglosses"> 
<option value="ALMA"> </option>
<option value="AMOR"></option>
<option value="BUGAMBILIA"></option>
<option value="CANELA"> </option>
<option value="CAOBA"> </option>
<option value="CORAZÓN"> </option>
<option value="NUBE"> </option>
<option value="PITAHAYA"> </option>
<option value="TULIPÁN"> </option>
</datalist>
</section4>
</nav>
	
<main> 
<ol class="breadcrumb">
<li><a href="INDEX.html">INICIO</a></li>
<li><a href="PRODUCTOS.html">PRODUCTOS</a></li>
<li class="active">FAVORITOS</li></ol>
	

	
	
	
</main>

<footer>
	
<section7>
	<img src="../MEDIOS/IMÁGENES/logo glossery byn.png" width="160" alt=""/> 
</section7>
	
<section8>
	<ul> 
 <li><a href="PRODUCTOS.html">PRODUCTOS</a></li>
 <li><a href="FAVORITOS.html">FAVORITOS</a></li>
 <li><a href="NOSOTROS.html">NOSOTROS</a></li>
 <li><a href="Q&A.html">Q & A</a></li> </ul>
	
</section8>


<section9>
    <p>SÍGUENOS
	</p>
	<a href="https://www.facebook.com/glosserystore.mx">	<img src="../MEDIOS/IMÁGENES/facebook.png" width="30" alt="" /> FACEBOOK </a>	
	
	<br><a href="https://www.tiktok.com/@glosserystore.mx?lang=es">
	<img src="../MEDIOS/IMÁGENES/tiktok.png" width="30" alt=""/> TIKTOK </a>
	
	<br>
	<a href="https://www.instagram.com/glosserystore.mx/">	
	<img src="../MEDIOS/IMÁGENES/instagram.png" width="30" alt=""/>
	INSTAGRAM
	</a></section9>
	
<section10>

<form action="../form-result.php" target="_blank"><p>REGISTRATE<br>
...y recibe novedades, <br>promociones y mucho más.
	<br>
	<input name="correo" type="text" class="escribetucorreo"
placeholder= "Escribe tu correo" 
size="20" >
<input type="submit" value="Enviar "></p></form>
</section10>
	
	
	
	
</footer>
</body>

</html>